/*
 -  Master styles
 -
 -  This file defines html elements styles.
 */


ul {
	margin-block-end: $unordered-list-margin-bottom;
}

ol {
	margin-block-end: $ordered-list-margin-bottom;
}

img {
	margin-block-end: $image-margin-bottom;
}

hr {
	background-color: $theme-gray-350;
	box-shadow: none;
	border: none;
	height: 1px;
}

dl {
	dd {
		padding-inline-end: ( $spacer * .5 );
	}

	dt {
		min-width: 20%;
		flex-shrink: 0;
	}
}

.table {
	width: 100%;

	&__cell {
		display: block;

		// Media queries
		@include media-breakpoint-up(sm) {
			display: table-cell;

			& + & {
				padding-inline-start: $spacer;
			}
		}
	}

	&__row {
		display: block;
		padding: ( $spacer * .5 ) 0;
		border-bottom: 1px solid $theme-gray-300;

		// Media queries
		@include media-breakpoint-up(sm) {
			padding: 0;
			display: table-row;
			border-bottom: none;
		}
	}
}

.link {
	&,
	&:visited {
		text-decoration: underline;
		color: $body-color;
	}

	&:hover,
	&:focus {
		color: $primary;
	}
}

.data-status {
	min-height: 100px;

	// Media queries
	@include media-breakpoint-up(sm) {
		min-height: 260px;
	}

	[class^='icon'],
	[class*='icon'] {
		// Overwrite default utility classes
		// stylelint-disable-next-line
		color: $theme-gray-600 !important;
	}

	p {
		font-size: 1.8rem;
		color: $theme-gray-600;
	}
}

.header-lp {
	padding-block-start: 90px;
}

.section {
	padding: logical $spacer 0;

	// Media queries
	@include media-breakpoint-up(md) {
		padding: logical ( $spacer * 2 ) 0;
	}
	@include media-breakpoint-up(lg) {
		padding: logical ( $spacer * 5 ) 0;
	}

	&__heading,
	&__text {
		margin-block-end: ( $spacer * .75 );

		// Media queries
		@include media-breakpoint-up(md) {
			margin-block-end: ( $spacer * 1.25 );
		}
		@include media-breakpoint-up(lg) {
			margin-block-end: ( $spacer * 1.75 );
		}
	}

	&__text {
		line-height: 22px;
	}

	&--bordered {
		border-bottom: 1px solid $theme-gray-350;
	}

	&--header {
		overflow: hidden;

		// Media queries
		@include media-breakpoint-down(sm) {
			padding-block-start: 0;
		}
		@include media-breakpoint-up(lg) {
			padding-block-end: ( $spacer * 2 );
		}
		@include media-breakpoint-up(xl) {
			min-height: 70vh;
		}

		.intro-video {
			display: block;
			width: 100%;

			// Media queries
			@include media-breakpoint-up(md) {
				width: 130%;
				margin-block-start: -( $spacer * 2 );
			}
			@include media-breakpoint-up(lg) {
				margin-block-start: -( $spacer * 4 );
			}
			@include media-breakpoint-up(xl) {
				margin-block-start: -( $spacer * 6 );
				width: 150%;
			}
		}
	}
}

.app-version {
	position: absolute;
	inset-inline-start: $spacer;
	inset-block-end: $spacer;
	font-size: 1.2rem;

	// Media queries
	@include media-breakpoint-up(sm) {
		inset-inline-start: auto;
		inset-inline-end: ( $spacer * 1.5 );
	}
}

.checklist {
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__item {
		display: flex;
		align-items: baseline;
		margin-block-end: $spacer;

		&::before {
			@include icon('success');
			font-size: 1.5rem;
			padding-inline-end: ( $spacer * .5 );
		}
	}

	&--teal {
		.checklist__item::before {
			color: $teal;
		}
	}
}
