@import '../../scss/core';

/*
 -  Notification stack
 -  (<div class="notification-stack" />)
 */

.notification-stack {
	position: fixed;
	inset: logical ( $spacer * 1.5 ) ( $spacer * .5 ) auto;
	padding-inline-start: $notification-border-width;
	z-index: $zindex-notification;

	// Media queries
	@include media-breakpoint-up(sm) {
		inset-inline: auto ( $spacer * 1.5 );
		max-width: $notification-width;
	}
}

.slide-from-right {
	&-enter {
		.notification {
			transform: translateX(100%);
			transition-delay: 2s;
			opacity: 0;
		}

		&-active,
		&-done {
			.notification {
				transform: translateX(0);
				opacity: 1;
				transition:
					transform ( $transition-speed * 2 ) $transition-easing,
					opacity $transition-speed $transition-easing;
			}
		}
	}

	&-exit {
		.notification {
			transform: translateX(0);
			opacity: 1;
		}

		&-active {
			.notification {
				transform: translateX(100%);
				opacity: 0;
				transition:
					transform ( $transition-speed * 2 ) $transition-easing,
					opacity ( $transition-speed * 2 ) $transition-easing;
			}
		}
	}
}
