@import '../core';

/*
 -  Notification
 -  (<div class="notification $theme-color" />)
 */


.notification {
	width: 100%;
	max-width: $notification-width;
	padding-block: $spacer $spacer;
	background-color: $notification-bg;
	border-radius: $border-radius;
	border-inline-start: 10px solid $theme-gray-300;
	box-shadow: $notification-box-shadow;
	margin-block-start: $spacer;

	@each $color-name, $color in $theme-colors {
		&.#{$color-name} {
			border-inline-start-color: $color;
		}
	}

	&__icon {
		margin-block-start: 2px;
	}

	&__text {
		line-height: ( 28 / 14 );
		flex-grow: 1;

		p {
			margin-block-end: 0;
		}
	}
}