@import '../../scss/core';

/*
 -  StaticModal
 -  (<div class="modal" />)
 -  Do not set max-height for .modal, IE and FF is not calculating it correctly
 */

.modal {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100px;
	padding: logical ( $spacer * 2 ) $spacer ( $spacer * 3 );
	border-radius: $border-radius;
	background-color: $modal-bg;
	box-shadow: $modal-box-shadow;
	transform: translateY(-40px);
	transition: transform ( $transition-speed * 2 ) $transition-easing;
	overflow: hidden;

	// Media queries
	@include media-breakpoint-up(sm) {
		max-width: $modal-width;
		padding-block-end: ( $spacer * 4 );
	}
	@include media-breakpoint-up(lg) {
		padding-inline: ( $spacer * 1.5 );
	}

	&--with-footer {
		padding-block-end: 0;
	}

	&__close {
		position: absolute;
		inset-block-start: ( $spacer * .75 );
		inset-inline-end: ( $spacer * .75 );
		min-width: auto;
		width: 30px;
		height: 30px;
		padding: logical 0;

		.icon--type-cancel {
			padding-inline-end: 0;
		}
	}

	&__title {
		font-weight: $modal-title-font-weight;
		font-size: $modal-title-font-size-mobile;
		margin-block-end: $spacer;

		// Media queries
		@include media-breakpoint-up(sm) {
			font-size: $modal-title-font-size;
		}
	}

	&__content {
		flex: 1 1 auto;
		overflow-y: auto;
	}

	&__footer {
		margin-block: $spacer;
		width: 100%;
		flex: 1 0 auto;

		// Media queries
		@include media-breakpoint-up(sm) {
			margin-block: ( $spacer * 1.5 );
		}
	}
}
