@import 'icon-set';

/*
 -  Theme variables
 -
 -  This file defines new variables and extends standards variables from Bootstrap.
 */

// Try to organize variables in named block groups with certain concern
// Colors
$theme-white:                   #fff;                              // Pure white color
$theme-black:                   #000;                              // Pure black color
$theme-blue-light:              #eaf2ff;
$theme-blue:                    #0d6bfe;
$theme-teal:                    #0c9cb2;
$theme-red:                     #c40f11;
$theme-red-light:               #ef0000;
$theme-gray-100:                #f4f4f4; // $theme-gray-300er
$theme-gray-200:                #ebebeb; // $theme-gray-bg
$theme-gray-250:                #e6e6e6; // $theme-gray-medium
$theme-gray-300:                #ddd;    // $theme-gray-light
$theme-gray-350:                #dbdbdb; // $theme-gray
$theme-gray-400:                #bbb;
$theme-gray-500:                #999;
$theme-gray-600:                #666;    // $theme-gray-500
$theme-gray-800:                #2d2d2d; // $theme-gray-800
$theme-green:                   #12c800;
$theme-orange:                  #ff7900;

$theme-bg:                      $theme-gray-100;

$primary:                       $theme-red;
$secondary:                     $theme-gray-800;
$light:                         $theme-gray-300;
$danger:                        $theme-red-light;
$success:                       $theme-green;
$warning:                       $theme-orange;
$info:                          $theme-gray-600;
$teal:                          $theme-teal;

$icon-filename:  'icomoon';

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1367px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

$spacer: 2rem;
$spacers: (
	4: ( $spacer * 2 )
);

$theme-colors: (
	primary:    $primary,
	secondary:  $secondary,
	teal:       $teal,
	success:    $success,
	info:       $info,
	warning:    $warning,
	danger:     $danger,
	icon:       $theme-gray-500,
	blue:       $theme-blue,
);

$dropdown-colors: (
	primary:    $primary,
	secondary:  $secondary,
	white:      $theme-white
);

// General styling
$ordered-list-margin-bottom:        1rem;
$unordered-list-margin-bottom:      1rem;

$image-margin-bottom:               1rem;

$grid-gutter-width:                 40px;
$content-inner-max-width:           1600px;

$zindex-datagrid:                   980;
$zindex-filterform:                 990;
$zindex-notification:               1080;

// $enable-shadows:                    true;

$body-bg:                           $theme-bg;
$text-color:                        #333;
$body-color:                        $text-color;

$text-muted:                        #999;

$transition-speed:                  180ms;
$transition-easing:                 cubic-bezier(.25, .46, .45, .94);

$font-size-base:                    1.4rem;
$font-family-base:                  'Open Sans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$disabled-opacity:                  .38;
$disabled-color:                    $body-color;

$border-radius:                     5px;
$btn-border-radius-sm:              $border-radius;

$box-shadow-header-btn:             inset 0 0 0 2px rgba($primary, .25);
$box-shadow-primary:                0 0 15px 0 rgba($primary, .3);
$box-shadow-secondary:              0 0 15px 0 rgba($secondary, .3);
$box-shadow-danger:                 0 0 15px 0 rgba($danger, .3);
$box-shadow-teal:                   0 0 15px 0 rgba($teal, .3);
$box-shadow-dropdown:               0 -1px 20px 0 rgba($theme-black, .2);
$box-shadow-light:                  $box-shadow-secondary;
$box-shadow-success:                0 5px 15px 0 rgba($success, .09);
$box-shadow-basic:                  0 5px 15px 0 rgba($theme-black, .09);
$box-shadow-basic-inset:            0 10px 15px -5px rgba($theme-black, .04);

$input-btn-font-size:               1.4rem;
$input-btn-padding-y:               .9rem;
$input-btn-line-height:             1.435;

$input-button-size:                 2.2rem;

$btn-padding-y:                     .9rem;
$btn-padding-x:                     ( $spacer * 1.25 );
$btn-padding-y-sm:                  .2rem;
$btn-padding-x-sm:                  $spacer;
$btn-padding-y-xs:                  ( $spacer * .25 );
$btn-padding-x-xs:                  0;

$btn-border-width:                  2px;

$btn-font-size-sm:                  1.4rem;

$btn-line-height:                   ( 20 / 14 );
$btn-font-weight:                   600;

$btn-disabled-opactiy:              .1;
$btn-disabled-color:                $theme-white;
$btn-disabled-bg-color:             $theme-gray-400;
$btn-disabled-border-color:         $theme-gray-400;

$btn-box-shadow:                    0 0 0 $primary;
$btn-focus-box-shadow:              $box-shadow-header-btn;
$btn-transition:                    color $transition-speed $transition-easing, background-color $transition-speed $transition-easing, box-shadow $transition-speed $transition-easing, border-color $transition-speed $transition-easing;

$btn-primary-hover-bg-color:        darken($primary, 10%);
$btn-primary-hover-border-color:    darken($primary, 10%);
$btn-primary-hover-color:           $theme-white;
$btn-primary-focus-box-shadow:      $box-shadow-primary;
$btn-primary-focus-bg-color:        $primary;
$btn-primary-focus-border-color:    $primary;
$btn-primary-focus-color:           $theme-white;
$btn-primary-active-box-shadow:     none;

$btn-outline-primary-hover-bg-color:        $theme-white;
$btn-outline-primary-hover-border-color:    $primary;
$btn-outline-primary-hover-color:           $primary;
$btn-outline-primary-focus-box-shadow:      $box-shadow-primary;
$btn-outline-primary-focus-bg-color:        $theme-white;
$btn-outline-primary-focus-border-color:    $primary;
$btn-outline-primary-focus-color:           $primary;

$btn-secondary-hover-bg-color:      lighten($secondary, 10%);
$btn-secondary-hover-border-color:  lighten($secondary, 10%);
$btn-secondary-hover-color:         $theme-white;
$btn-secondary-focus-box-shadow:    $box-shadow-primary;
$btn-secondary-focus-bg-color:      $secondary;
$btn-secondary-focus-border-color:  $secondary;
$btn-secondary-focus-color:         $theme-white;
$btn-secondary-active-box-shadow:   none;

$btn-outline-secondary-hover-bg-color:        $theme-white;
$btn-outline-secondary-hover-border-color:    $secondary;
$btn-outline-secondary-hover-color:           $secondary;
$btn-outline-secondary-focus-box-shadow:      $box-shadow-primary;
$btn-outline-secondary-focus-bg-color:        $theme-white;
$btn-outline-secondary-focus-border-color:    $secondary;
$btn-outline-secondary-focus-color:           $secondary;

$btn-danger-hover-bg-color:         darken($danger, 10%);
$btn-danger-hover-border-color:     darken($danger, 10%);
$btn-danger-hover-color:            $theme-white;
$btn-danger-focus-box-shadow:       $box-shadow-danger;
$btn-danger-focus-bg-color:         $danger;
$btn-danger-focus-border-color:     $danger;
$btn-danger-focus-color:            $theme-white;
$btn-danger-active-box-shadow:      none;

$btn-outline-danger-hover-bg-color:        $theme-white;
$btn-outline-danger-hover-border-color:    $danger;
$btn-outline-danger-hover-color:           $danger;
$btn-outline-danger-focus-box-shadow:      $box-shadow-danger;
$btn-outline-danger-focus-bg-color:        $theme-white;
$btn-outline-danger-focus-border-color:    $danger;
$btn-outline-danger-focus-color:           $danger;

$btn-blank-hover-bg-color:           transparent;
$btn-blank-hover-border-color:       transparent;
$btn-blank-hover-color:              $primary;
$btn-blank-focus-color:              darken($primary, 10%);

$input-height:                      42px;
$input-height-sm:                   30px;
$input-padding-y:                   .9rem;
$input-padding-x:                   2rem;
$input-padding-y-sm:                .2rem;
$input-padding-x-sm:                1rem;
$input-top-offset:                  .5rem;
$input-bottom-offset:               1.5rem;

$input-font-weight:                 400;
$input-font-size-sm:                1.4rem;
$input-border-radius:               $border-radius;
$input-border-radius-sm:            $border-radius;

$form-group-margin-bottom:          0;

$input-transition:                  color $transition-speed $transition-easing, background-color $transition-speed $transition-easing, box-shadow $transition-speed $transition-easing, border-color $transition-speed $transition-easing;

$input-bg:                          $theme-white;
$input-disabled-bg:                 transparent;
$input-focused-bg:                  $theme-white;
$input-filled-bg:                   $theme-white;

$input-border-color:                $theme-gray-350;
$input-border-width:                2px;
$input-box-shadow:                  none;

$input-placeholder-color:           $theme-gray-400;
$input-focus-border-color:          $theme-gray-800;
$input-hover-border-color:          $input-focus-border-color;
$input-filled-border-color:         $theme-gray-800;
$input-focus-box-shadow:           	$box-shadow-primary;

$input-invalid-color:               $danger;

$control-label-font-size:           1.4rem;
$control-label-floating-font-size:  1.4rem;
$floating-label-offset:             .5rem;
$form-feedback-font-size:           1.2rem;
$form-feedback-margin-top:          .6rem;
$form-group-margin-bottom:          0;

$form-feedback-icon-invalid:        none;
$control-label-disabled-color:      $theme-gray-400;

$custom-control-gutter:                          1rem;
$custom-control-indicator-size:                  2rem;
$custom-select-indicator-offset-sm:              .7rem;
$custom-control-indicator-border-color:          $theme-gray-350;
$custom-control-indicator-border-width:          2px;
$custom-control-indicator-bg:                    $theme-white;

$custom-control-indicator-checked-color:         $theme-gray-800;
$custom-control-indicator-checked-border-color:  $theme-gray-800;
$custom-control-indicator-checked-bg:            transparent;

$custom-control-indicator-active-color:          $theme-gray-800;
$custom-control-indicator-active-bg:             $theme-white;
$custom-control-indicator-active-border-color:   $theme-gray-800;

$custom-control-indicator-checked-disabled-bg:   transparent;

$custom-select-bg-size:                          8px 7px;
$custom-select-indicator-color:                  $theme-gray-800;
$custom-select-indicator-disabled-color:         $theme-gray-400;
$custom-select-focus-box-shadow:                 $box-shadow-primary;

$custom-select-padding-x-sm:                     1rem;
$custom-select-indicator-padding:                1.5rem;

$custom-select-disabled-bg:                      transparent;
$custom-select-disabled-color:                   $theme-gray-400;

$custom-checkbox-indicator-icon-checked:         str-replace( url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20427%20427%27%3E%3Cpath%20fill%3D%27%232d2d2d%27%20d%3D%27M366.933%2C42.667l-217.6%2C219.733l-89.6%2C-89.6l-59.733%2C59.733l149.333%2C151.467l277.334%2C-279.467l-59.734%2C-61.866Z%27%20%2F%3E%3C%2Fsvg%3E'), '#', '%23' );
$custom-checkbox-indicator-icon-checked-disabled:str-replace( url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20427%20427%27%3E%3Cpath%20fill%3D%27%23bbb%27%20d%3D%27M366.933%2C42.667l-217.6%2C219.733l-89.6%2C-89.6l-59.733%2C59.733l149.333%2C151.467l277.334%2C-279.467l-59.734%2C-61.866Z%27%20%2F%3E%3C%2Fsvg%3E'), '#', '%23' );
$custom-radio-indicator-icon-checked:            str-replace( url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%27-4%20-4%208%208%27%3E%3Ccircle%20r%3D%273%27%20fill%3D%27%232d2d2d%27%2F%3E%3C%2Fsvg%3E'), '#', '%23' );
$custom-radio-indicator-icon-checked-disabled:   str-replace( url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%27-4%20-4%208%208%27%3E%3Ccircle%20r%3D%273%27%20fill%3D%27%23bbb%27%2F%3E%3C%2Fsvg%3E'), '#', '%23' );
$custom-select-indicator:                        str-replace( url('data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%208%207%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M7.57%2C0.005c0.022%2C0.005%200.046%2C0.008%200.068%2C0.014c0.179%2C0.052%200.322%2C0.208%200.355%2C0.396c0.016%2C0.092%200.005%2C0.188%20-0.03%2C0.274c-0.009%2C0.022%20-0.021%2C0.042%20-0.031%2C0.063l-3.501%2C6.002c-0.013%2C0.019%20-0.025%2C0.039%20-0.039%2C0.057c-0.129%2C0.164%20-0.365%2C0.233%20-0.563%2C0.161c-0.088%2C-0.032%20-0.165%2C-0.088%20-0.223%2C-0.161c-0.014%2C-0.018%20-0.026%2C-0.038%20-0.039%2C-0.057l-3.501%2C-6.002c-0.01%2C-0.021%20-0.022%2C-0.041%20-0.031%2C-0.063c-0.079%2C-0.193%20-0.022%2C-0.434%200.141%2C-0.572c0.072%2C-0.06%200.16%2C-0.099%200.252%2C-0.112c0.024%2C-0.003%200.047%2C-0.003%200.07%2C-0.005l7.002%2C0c0.023%2C0.002%200.046%2C0.003%200.07%2C0.005Z%27%20style%3D%27fill%3A%23333%3B%27%2F%3E%3C%2Fsvg%3E'), '#', '%23' );
$custom-select-disabled-indicator:               str-replace( url('data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%208%207%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M7.57%2C0.005c0.022%2C0.005%200.046%2C0.008%200.068%2C0.014c0.179%2C0.052%200.322%2C0.208%200.355%2C0.396c0.016%2C0.092%200.005%2C0.188%20-0.03%2C0.274c-0.009%2C0.022%20-0.021%2C0.042%20-0.031%2C0.063l-3.501%2C6.002c-0.013%2C0.019%20-0.025%2C0.039%20-0.039%2C0.057c-0.129%2C0.164%20-0.365%2C0.233%20-0.563%2C0.161c-0.088%2C-0.032%20-0.165%2C-0.088%20-0.223%2C-0.161c-0.014%2C-0.018%20-0.026%2C-0.038%20-0.039%2C-0.057l-3.501%2C-6.002c-0.01%2C-0.021%20-0.022%2C-0.041%20-0.031%2C-0.063c-0.079%2C-0.193%20-0.022%2C-0.434%200.141%2C-0.572c0.072%2C-0.06%200.16%2C-0.099%200.252%2C-0.112c0.024%2C-0.003%200.047%2C-0.003%200.07%2C-0.005l7.002%2C0c0.023%2C0.002%200.046%2C0.003%200.07%2C0.005Z%27%20style%3D%27fill%3A%23bbb%3B%27%2F%3E%3C%2Fsvg%3E'), '#', '%23' );

$custom-select-background:                       $custom-select-indicator no-repeat right $custom-select-indicator-padding center / $custom-select-bg-size;

$collapsible-max-height:       60px;
$collapsible-padding-x-mobile: $spacer;
$collapsible-padding-y-mobile: ( $spacer * 1.5 );
$collapsible-padding-y:        5rem;
$collapsible-padding-x:        4rem;
$collapsible-bg:               $theme-white;
$collapsible-border-radius:    $border-radius;
$collapsible-box-shadow:       $box-shadow-basic;

$data-grid-outer-padding:           40px;
$data-grid-extended-padding:        70px;

$data-grid-header-bg:               darken($theme-gray-200, 2%);
$data-grid-header-border-radius:    $border-radius;
$data-grid-header-padding-x:        25px;
$data-grid-header-padding-y:        19.5px;
$data-grid-header-active-bg:        $theme-white;
$data-grid-header-control-extended: 35px;
$data-grid-header-height:           60px;

$data-grid-header-title-size:       1.4rem;

$data-grid-body-padding-x:          25px;
$data-grid-body-padding-y:          19.5px;
$data-grid-body-divider-color:      $theme-gray-300;

$data-grid-row-bg-color:            $theme-white;
$data-grid-action-menu-bg:          $theme-white;
$exposed-message-background:		rgba(#ffff00, .5);

$main-nav-link-height:              60px;
$main-nav-logo-height:              180px;
$main-nav-logo-height-tablet:       100px;
$main-nav-logo-height-mobile:       40px;

$main-nav-link-active-bg:           $primary;
$main-nav-link-hover-bg:            $theme-gray-100;
$main-nav-link-font-size:           1.5rem;
$main-nav-link-icon-size:           2.5rem;
$main-nav-link-active-border-width: .5rem;

$main-nav-bg:                       $theme-white;
$main-nav-width:                    200px;
$main-nav-width-tablet:             70px;
$main-nav-height-mobile:            80px;
$main-nav-height:                   100vh;

$sub-nav-width:                     200px;
$sub-nav-bg:                        $theme-white;

$breadcrumb-divider:                '/';
$breadcrumb-bg:                     transparent;
$breadcrumb-color:                  $body-color;
$breadcrumb-padding-x:              0;
$breadcrumb-padding-y:              0;
$breadcrumb-margin-bottom:          ( $spacer * .25 );
$breadcrumb-font-size:              1.2rem;

$headings-font-weight:              800;

$h1-font-size:                      3.6rem;
$h1-line-height-mobile:             1.2;
$h1-line-height:                    1.4;
$h1-font-size-mobile:               3rem;
$h1-margin-bottom:                  0;

$h2-font-size-mobile:               2.4rem;
$h2-font-size:                      3.2rem;
$h2-line-height-mobile:             1.35;
$h2-line-height:                    1.2;
$h2-margin-bottom:                  .8rem;

$h3-font-size:                      1.6rem;
$h3-font-weight:                    600;
$h3-margin-bottom:                  $spacer;

$footer-height:                     108px;
$footer-box-shadow:                 0 -20px 40px 0 rgba($theme-black, .04);

$modal-width:                       580px;
$modal-bg:                          $theme-bg;
$modal-title-font-size-mobile:      2rem;
$modal-title-font-size:             2.8rem;
$modal-title-font-weight:           800;
$modal-box-shadow:                  $box-shadow-basic;

$file-upload-border-color:          $theme-gray-300;
$file-upload-border-active-color:   $primary;
$file-upload-icon-color:            $theme-gray-300;
$file-upload-max-width:             500px;

$slide-modal-bg:                    $theme-gray-100;
$slide-modal-width:                 1020px;
$slide-modal-width-sm:              768px;
$slide-modal-controls-mobile-height: 40px;
$slide-modal-controls-height:       60px;
$slide-modal-footer-height:         102px;
$slide-modal-footer-mobile-height:  72px;
$slide-modal-padding-x:             ( $spacer * 2 );
$slide-modal-padding-y:             ( $spacer * 1.5 );
$slide-modal-mobile-padding-x:      $spacer;
$slide-modal-mobile-padding-y:      $spacer * .5;

$notification-bg:                   $theme-white;
$notification-width:                360px;
$notification-border-width:         10px;

$accordion-item-padding-mobile-x:   ( $spacer * .5 );
$accordion-item-padding-mobile-y:   $spacer;
$accordion-item-padding-x:          ( $spacer * 1.5 );
$accordion-item-padding-y:          ( $spacer * .75 );
$accordion-header-padding-mobile-x: $accordion-item-padding-mobile-x;
$accordion-header-padding-mobile-y: $spacer;
$accordion-header-padding-x:        $accordion-item-padding-x;
$accordion-header-padding-y:        $spacer;
$accordion-body-padding-mobile-x:   ( $spacer * .5 );
$accordion-body-padding-mobile-y:   ( $spacer * .5 );
$accordion-item-offset:             5px;
$accordion-item-border-width:       1px;

$acordion-item-border-color:        $theme-gray-350;
$accordion-item-bg:                 $theme-white;
$accordion-item-hover-bg:           lighten($theme-gray-300, 12%);
$accordion-item-border-radius:      $border-radius;
$accordion-item-box-shadow:         $box-shadow-basic;
$accordion-item-primary-weight:     600;
$accordion-item-primary-bg:         $theme-gray-250;

$accordion-indicator-icon-size:     1.8rem;
$accordion-indicator-icon-offset:   15px;
$accordion-status-icon-offset:      2px;
$accordion-status-icon-font-size:   1.2rem;
$accordion-icon-border-radius:      50%;

$pagination-active-color:           $theme-black;
$pagination-arrow-hover-color:      $theme-blue;
$pagination-arrow-color:            $theme-black;
$pagination-color:                  $theme-blue;

$menu-bg:                           $theme-white;
$menu-max-height:                   300px;

$toggle-icon-size:                  24px;
$toggle-icon-offset:                2px;
$toggle-height:                     29px;
$toggle-width:                      96px;
$toggle-true-bg:                    $theme-green;
$toggle-false-bg:                   $theme-red;
$toggle-color:                      $theme-white;
$toggle-font-size:                  1.2rem;
$toggle-icon-color:                 $theme-white;
$toggle-switch-bg:                  $theme-gray-500;

$toggle-switch-height:                     28px;
$toggle-switch-icon-offset:                3px;
$toggle-switch-icon-size:                  $toggle-switch-height - ( $toggle-switch-icon-offset * 2 );
$toggle-switch-width:                      60px;
$toggle-switch-icon-color:                 $theme-white;
$toggle-switch-switch-bg:                  $theme-gray-500;

$tab-link-active-bg-color:          $primary;
$tab-link-number-color:             $theme-gray-600;
$tab-link-number-size:              30px;
$tab-link-number-size-mobile:       24px;
$tab-link-number-border:            1px solid $theme-gray-400;
$tab-link-font-size:                1.5rem;
$tab-link-font-size-mobile:         1.6rem;
$tab-link-number-font-size:         1.4rem;
$tab-link-color:                    $body-color;
$tab-link-hover-color:              $primary;
$tab-link-done-bg-color:            $theme-gray-800;

$stepper-link-font-size:            1.8rem;
$stepper-link-font-size-mobile:     1.6rem;

$card-bg:                           $theme-white;
$card-padding-mobile-y:             $spacer;
$card-padding-mobile-x:             $spacer;
$card-padding-y:                    $grid-gutter-width;
$card-padding-x:                    $grid-gutter-width;
$card-icon-mobile-height:           50px;
$card-icon-height:                  70px;
$card-icon-width:                   120px;
$card-title-size:                   1.6rem;
$card-box-shadow:                   0 0 rgba($theme-white, 0);
$card-hover-box-shadow:             $box-shadow-basic;

$card-radio-padding-y:              ( $spacer * 1.25 );
$card-radio-padding-x:              ( $spacer * 1.25 );

$panel-bg:                          $theme-white;
$panel-bg-inactive:                 $theme-gray-200;
$panel-bg-active:                   $theme-white;
$panel-box-shadow-active:           $box-shadow-basic;
$panel-box-shadow-hover:            $box-shadow-basic;
$panel-padding-x-mobile:            $spacer;
$panel-padding-y-mobile:            $spacer;
$panel-padding-x:                   ( $spacer * 1.5 );
$panel-padding-y:                   ( $spacer * 1.25 );
$panel-title-font-size:             1.6rem;
$panel-title-icon-size:             2.2rem;
$panel-value-size:                  3rem;
$panel-icon-hover-color:            $primary;

$gauge-size:                        120px;
$gauge-size-mobile:                 75px;
$gauge-height:                      66px;
$gauge-steps:                       15;
$gauge-bar-bg:                      #eee;
$gauge-danger-gradient-start:       #c40f11;
$gauge-danger-gradient-end:         #ef0000;
$gauge-semidanger-gradient-start:   #ef0000;
$gauge-semidanger-gradient-end:     #ff9700;
$gauge-warning-gradient-start:      #ffa400;
$gauge-warning-gradient-end:        #ffdd05;
$gauge-ok-gradient-start:           #e6de01;
$gauge-ok-gradient-end:             #59d004;
$gauge-excellent-gradient-start:    #00b12d;
$gauge-excellent-gradient-end:      #25d004;

$score-graph-y-text-color: $theme-gray-400;
$score-graph-x-text-color: $theme-gray-400;
$score-graph-x-line-color: $theme-gray-300;

$score-graph-cursor-color: $teal;
$score-graph-tooltip-bg:   $theme-white;

$score-graph-line-color:              $teal;
$score-graph-line-width:              3px;
$score-graph-dot-color:               $teal;
$score-graph-dot-fill:                $theme-white;
$score-graph-dot-radius:              6px;
$score-graph-dot-stroke-width:        3px;
$score-graph-active-dot-color:        $teal;
$score-graph-active-dot-fill:         $theme-white;
$score-graph-active-dot-radius:       9px;
$score-graph-active-dot-stroke-width: 4px;

$number-badge-size:                   23px;

$timeline-message-bg-color:             $theme-white;
$timeline-message-internal-color:       $success;
$timeline-message-external-color:       $teal;
$timeline-message-system-bg-color:      $theme-gray-250;
$timeline-message-system-color:         $theme-gray-500;
$timeline-message-point-size:           13px;
$timeline-message-point-size-first:     22px;
$timeline-message-point-shadow:         $box-shadow-basic;
$timeline-message-point-bg-color:       $theme-gray-100;
$timeline-message-point-border-color:   $theme-gray-400;

$notification-box-info-border-color:    $theme-white;
$notification-box-warning-border-color: $warning;
$notification-box-success-border-color: $success ;
$notification-box-info-bg:              $theme-white;
$notification-box-warning-bg:           $theme-white;
$notification-box-success-bg:           $theme-white;
$notification-box-shadow:               $box-shadow-basic;

// Aggregation row
$aggregation-row-label-font-size:       1.2rem;

$progress-circle-stroke-width:          2px;
$progress-circle-bar-color:             $primary;
$progress-circle-bg-color:              $theme-gray-300;
$progress-circle-size:                  45px;

$info-tab-box-shadow:                   $box-shadow-basic;
$info-tab-bg-color:                     $theme-white;

$spinner-size:                          48px;
$spinner-border-width:                  4px;

// Javascript export
/* stylelint-disable */
:export {
	breakpoints-order: xs, sm, md, lg, xl;
	screen-xs: map-get( $grid-breakpoints, 'xs' );
	screen-sm: map-get( $grid-breakpoints, 'sm' );
	screen-md: map-get( $grid-breakpoints, 'md' );
	screen-lg: map-get( $grid-breakpoints, 'lg' );
	screen-xl: map-get( $grid-breakpoints, 'xl' );
	colors: map-keys( $theme-colors );
}
